<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="ayuda-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

		</div>
    <br>
    <br>
    <br>
		<div class="row">
			<div class="color1 col-xs-12 col-sm-6 col-md-3">

				<h4 class="visible-lg">Menú Login</h4>
				<p>Si ya eres clientes puedes empezar a utilizar la aplicación registrándote <br></p>
        <p>Si aún no eres cliente favor de acudir a una de nuestras sucursales <br></p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">

				<h4 class="visible-lg">Despliega Cuentas</h4>
				<p>Podrás desplegar las cuentas que tienes dadas de alta de acuerdo al producto</p>
			</div>

			<div class="color1 col-xs-12 col-sm-6 col-md-3">
				<h4 class="visible-lg">Movimientos</h4>
				<p>Podrás visualizar los movimientos de las cuentas</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3">
				<h4 class="visible-lg">Visualización de movimientos</h4>
				<p>Podras ubicar geográficamente los movimientos realizados</p>
			</div>
		</div>
	</div>
  <br>
  <br>
  <br>
	<footer>
		<div class="container">
			<h6>Tech University Practitioner</h6>
					</div>
	</footer>
</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AyudaApp extends Polymer.Element {
      static get is() { return 'ayuda-app'; }
      static get properties() {
        return {
        };
      }
    }
    window.customElements.define(AyudaApp.is, AyudaApp);
  </script>
</dom-module>
