<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">

<dom-module id="manejador-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <emisor-app id="emisor"></emisor-app>
    <receptor-app id="receptor"></receptor-app>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ManejadorApp extends Polymer.Element {
      static get is() { return 'manejador-app'; }
          ready(){
            super.ready()
            this.$.emisor.addEventListener('emitido',e => {this.enviarDatosAHijo(e)})
            }
            enviarDatosAHijo(e) {
              console.info("SOY TU PADRE: "+ e.detail.origen)
              console.log(this.$)
              //this.$.receptor.origenRecibido = e.detail.origen
              //this.$.receptor.annoRecibido = e.detail.anno
              this.$.receptor.procesarDatos(e.detail)
            }
          }
    window.customElements.define(ManejadorApp.is, ManejadorApp);
  </script>
</dom-module>
