<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/loginmx-app/loginmx-app.html">
<link rel="import" href="/src/movimientos-app/movimientos-app.html">

<dom-module id="mibanco-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <login-app id="login"></login-app>
    <movimientos-app id="movimiento"></movimientos-app>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MibancoApp extends Polymer.Element {
      static get is() { return 'mibanco-app'; }
          ready(){
            super.ready()
            this.$.login.addEventListener('logueado',e => {this.enviarDatosAHijo(e)})
            }
            enviarDatosAHijo(e) {
              console.info("SOY TU PADRE: "+ e.detail.origen)
              console.log(this.$)
              //this.$.receptor.origenRecibido = e.detail.origen
              //this.$.receptor.annoRecibido = e.detail.anno
              this.$.receptor.procesarDatos(e.detail)
            }
          }
    window.customElements.define(MibancoApp.is, MibancoApp);
  </script>
</dom-module>
