<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v4/usuario/login"
               method="POST"
               handle-as="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarError">
    </iron-ajax>

    <iron-ajax id="obtenerCuentas"
             url="http://localhost:3000/v1/cliente/:"
             method="GET"
             handle-as="json"
             on-response="mostrarCuentas">
    </iron-ajax>

          <div class="row" style="justify-content: flex-end;">
          <label for="idusuario" >Email:</label>
            <input required="require" type="text" placeholder="abcd@servidorcorreo" value={{idusuario::input}}>
           <label for="password">Password:</label>
            <input type="password" value={{password::input}}>
            <button class="btn btn-info" on-click="hacerLogin">Entrar</button>
          </div>
        <span hidden$="{{!logged}}">Bienvenid@ a TechU
          <div>
            <button class="btn btn-warning" on-click="invocarPeticion">Consultar cuentas</button>
          </div>
         </span>

  </template>
            <table class="table table-striped">
              <thead>
                <h3>Cuentas</h3>

                <th>Número de Cuenta</th>
                <th>Tipo de Cuenta</th>
                <th>Saldo</th>
                <th>Límite</th>
                <th>Ver movimientos</th>
              </thead>

              <tbody>
                <template is="dom-repeat" items="{{cuentas}}">
                  <tr>
                    <td>{{item.idcuenta}}</td>
                    <td>{{item.tptarjeta}}</td>
                    <td>{{item.saldo}}</td>
                    <td>{{item.limite}}</td>
                    <td><a class="btn btn-info" >Ver movimientos</a></td>
                  </tr>
                </template>
              </tbody>
            </table>








  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          idusuario: {
            type: String
          },
          password: {
            type: String
          },
        nombre: {
            type: String
         },
           logged: {
             type: Boolean,
             value: false
          },
          idcliente: {
           type: Number,
           value: 4
         },
         cuentas: {
           type: Array
         }
       };
     }
          hacerLogin() {
          console.log("se hizo clic en el boton")
          console.log("se envia la peticion")
          this.$.hacerLogin.headers['password'] = this.password
          this.$.hacerLogin.headers['idusuario'] = this.idusuario
          this.$.hacerLogin.generateRequest()
          console.log("petición enviada")
          this.$.obtenerCuentas.generateRequest();
        }
         mostrarResultadoLogin(resultado) {
         console.log(resultado)
         this.logged = true
        }
         mostrarError(error) {
         console.log(error)
         this.logged = false
        }
        invocarPeticion() {
       this.$.obtenerCuentas.generateRequest();
     }
     mostrarCuentas(data) {
      console.log(data.detail.response.value)
      this.cuentas = data.detail.response.value
          }
    }
    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
