<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="inicio-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>




  <div class="container">
  <br>
  <br>
  <br>
  <br>

    <article class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

        <h2>
        <p>  TechU Proyecto Practitioner</p>
        <p class="small">  Aplicación desarrollada que permite visualizar cuentas, movimientos</p>
        <p class="small">  y funcionalidad añadida de otras apis  <br/></p>
       </h2>

    </article>

</div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class InicioApp extends Polymer.Element {
      static get is() { return 'inicio-app'; }
      static get properties() {
        return {
        };
      }
    }
    window.customElements.define(InicioApp.is, InicioApp);
  </script>
</dom-module>
